
h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: RED DASHED underline;
    font-weight: bolder;
    font-size: 120px;
    color: blue;

}
#year {
    font-size: 100px;
    text-align: left;
    font-weight: bold; 
    text-align: center;
    text-transform: capitalize;
}
#sub {
    font-size: 50px;
    text-align: left;
    color:blue;
}  
button {
    font-size: 20PX;
    text-align: justify;
    text-transform: none;
    background-color: antiquewhite;
    color: brown;

}


